#countLabel {
  display: block;
  text-align: center;
  font-size: 10em;
  font-family: "Segoe UI";
}

#btnContainer {
  text-align: center;
}

.buttons {
  padding: 10px 20px;
  font-size: 1.5em;
  color: azure;
  background-color: hsl(217, 74%, 54%);
  border-radius: 5px;
  cursor: pointer;
  transform: background-color 0.25;
}

.buttons:hover {
  background-color: hsl(217, 87%, 33%);
}
